@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");

* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  background-image: url(../assets/bg.webp);
  background-repeat: no-repeat;
  background-size: cover;
  backdrop-filter: contrast(140%);
}
#content {
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}
.logo {
  font-family: "Rock Salt", cursive;
  font-size: 20px;
  color: white;
}
.home,
.contact,
.menu {
  color: white;
  padding: 8px;
}
.container {
  width: 90%;
  padding-top: 0.5em;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
}
.nav_elements {
  width: 100%;
  border-radius: 25px;
  background-color: black;
  font-family: sans-serif;
  font-weight: bold;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  backdrop-filter: blur(5px) saturate(70%);
  -webkit-backdrop-filter: blur(5px) saturate(70%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
}
.nav-elements {
  display: flex;
  cursor: pointer;
  gap: 40px;
}

@media screen and (max-width: 450px) {
  body {
    background-size: auto;
  }
}
